.clubList {
  border-radius: 15px;
  border: 2px solid rgb(226, 40, 40);
  list-style: none;
  text-align: center;
  box-sizing: content-box;
  width: 300px;
  &__icon {
    background-color: red;
    color: white;
    border-radius: 15px;
    height: 20px;
    width: 20px;
  }
}
