.clubList {
  // display: flex;
  //justify-content: space-around;
  // flex-wrap: wrap;
  border-radius: 0.5rem;
  border: 1px solid rgb(226, 40, 40);
  list-style: none;
  text-align: center;
}
